@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

body{

    background: linear-gradient(to top right, #5375C2, #56A5B5);
}
.navegador{
    background-color: #3D5061;
    border-bottom: 1px solid black;
}
.titulo{
        background-color: #163E61;
        font-weight: bolder;
}
.contenedorDerecho{
    background-color: #3D5061;
    padding: 10px;
}
.seccion1{
    background-color: #AD874B;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.redesSociales{
    background-color: #5C87AD;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
footer{
    background-color: #3D5061;
    color: white;
}
