{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
<div class="row mt-3">
        <h1 class="text-light text-center">Mis Tareas</h1>
</div>

<div class="container pb-3">
    <div class="row mt-3">
        {% include 'mensajes.html' %}
        <div class="col-9 col-md-9">
            <form method="post">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-4">
                            <select name="id_etiqueta" class="form-select mt-4" id="id_id_etiqueta" required>
                                <option value="" selected>Seleccione una etiqueta</option>
                                {% for element in etiquetas %}
                                    <option value="{{ element.id }}">{{ element.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <select name="id_estado" class="form-select mt-4" id="id_id_estado" required>
                                <option value="" selected>Seleccione un estado</option>
                                {% for element in estados %}
                                    <option value="{{ element.id }}">{{ element.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
                            <a href="{% url 'tareas' %}" class="btn btn-primary mt-4 ms-3">Todas las tareas</a>
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-3 col-md-3 mt-4" style="text-align: right;">
            <a href="{% url 'agregar_tarea' %}" class="btn btn-success">Agregar Tarea</a>
        </div>
    </div>
    <div class="row mt-3">
        {% for tarea_info in tareas %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ tarea_info.tarea.titulo }}</h5>
                        <h6>Fecha Vencimiento</h6>
                        <p class="card-text">{{ tarea_info.tarea.fecha_vencimiento }}</p>
                        <h6>Descripción</h6>
                        <p class="card-text">{{ tarea_info.tarea.descripcion }}</p>
                        <h6>Prioridad</h6>
                        <div class="col-3">
                            {% if tarea_info.prioridad == 'Alta' %}
                                <p style="color: red" class="fw-bold card-text">{{ tarea_info.prioridad }}</p>
                            {% elif tarea_info.prioridad == 'Media' %}
                                <p style="color: blue" class="fw-bold card-text">{{ tarea_info.prioridad }}</p>
                            {% elif tarea_info.prioridad == 'Baja' %}
                                <p style="color: green" class="fw-bold card-text">{{ tarea_info.prioridad }}</p>
                            {% endif %}
                        </div>
                        <a href="{% url 'tarea' tarea_info.tarea.id %}" class="btn btn-primary d-flex justify-content-center mt-3">Ver Más</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p>No hay Tareas</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
